body{
	margin-left:300px;
}
h3{
	width: 1000px;
	height: 31px;
	margin: 29px 0;
	color: #B2ADA3;
	border-bottom: 2px solid #EAEAEA;
}
#nav{
	width: 1000px;
	height:400px;
}
.c2{
	width:500px;
	height:70px;
	float:right;
}
.c1,.c2{
	margin: 0;
	display: inline-block;
}
.c3,.c4{
	width: 103px;
	height: 40px;
	float: left;
	text-align: right;
	line-height: 40px;
	color: #999;
}
.c5{
	border:1px solid #64a131;
	height: 38px;
	line-height: 38px;
	text-align:center;
	border-radius: 5px;
	color: #9CBE6C;
	font-size: 20px;
}
.a1{
	color:#999;
}
.a2{
	color: #9CBE6C;
	text-decoration: none;
}
p{
	margin: 0;
}
.p1{
	margin-top: 0px;
	margin-bottom: 0;
	width: 500px;
	height: 70px;
}
.p2{
	width: 500px;
	height: 28px;
	margin:0;

}
.p3{
	margin:0;
	width:500px;
	height: 37px;
}
.p4{
	margin:0;
	width:500px;
	height: 24px;
}
.in{
	width: 289px;
	height: 40px;
	border: 1px solid #CFCFCF;
	padding-left: 20px;
	margin-left: 42px;
	font-size: 18px;
}
.in2{
	color: #CFCFCF;
	margin-left: 145px;
}
.in3{
	border-width: 1px;
	border-color: #9CBE6C;
	width: 138px;
	height: 38px;
	border-radius: 5px;
	background-color:#9CBE6C; 
	color: rgb(255,255,255);
	font-size: 20px;
	margin-left: 145px;
}
td{
	padding: 0;
}
.t1{
	width: 290px;
	color: #999;
}
.t3{
	width: 290px;
	padding-top: 21px;
}
.t4{
	padding-top: 21px;
}
.c1{
	position: relative;
}
.fly{
position: absolute;
right:167px;
bottom:21px;
border:1px solid #64a131;
width:147px;
height:46px;
color:#64a131;
text-decoration: none;
text-align: center;
line-height: 46px;
border-radius: 5px;
font-size:20px;
}